@import "header.less";
@import "main.less";

@font-face {
    font-family: "MyFont";
    src: url("/fonts/10171.otf") format("truetype")
}
@font-face {
	font-family: "Poiret";
	src: url("/fonts/PoiretOne-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Kaffe";
	src: url("/fonts/YanoneKaffeesatz/YanoneKaffeesatz-Regular.otf") format("truetype");
}


* {
    /*font-family: "MyFont", sans-serif;*/
}
