header {
  background: url(/images/background.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 100%;
  padding: 5% 20%;
	.main-title {
		font: 18rem Cola, sans-serif;
		margin-bottom: 5%;
		color: @redColor;
		p {
			white-space: nowrap;
			span {
				font-family: MyFont;
				font-size: 18rem;
			}
		}
	}
	.pray-year {
		font: bold 10rem BigNoodle, sans-serif;
		letter-spacing: 6px;
		margin-bottom: 9%;
		color: @redColor;
	}
	.header-arrow-down {
		display: inline-block;
		width: 65px;
		height: 20px;
		background: url(/images/header-arrow.png) 0px 0px no-repeat;

	}
}

