header {
  background: url(/images/background.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 100%;
  padding: 5% 20%;
	.main-title{
		font: bold 14rem Poiret, sans-serif;
		margin-bottom: 5%;
		text-transform: uppercase;
		color: #fe0000;
	}
	.pray-year{
		font-size: 14rem;
		font-weight: bold;
		margin-bottom: 9%;
		color: #f00;
	}
	.header-arrow-down{
		display: inline-block;
		width: 65px;
		height: 20px;
		background: url(/images/header-arrow.png) 0px 0px no-repeat;

	}
}

